## imports

In [1]:
import pandas
import numpy
from matplotlib import pyplot
from pandas.plotting import scatter_matrix
import mysql.connector
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor,ExtraTreeRegressor
from sklearn.metrics import mean_squared_error,mean_absolute_error
import joblib
import datetime
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
from statsmodels.tsa.vector_ar.var_model import VAR

%matplotlib qt

## Database Connection and data Fetching

In [2]:
with open('../config.env') as f:
    credentials=f.read()
credentials=credentials.split(" ")
con = mysql.connector.connect(username=credentials[0],password=credentials[1],host=credentials[2],port=credentials[3],database=credentials[4])
query=con.cursor()

In [3]:
sql="SELECT * FROM total_india_cases"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
india_data=pandas.DataFrame(result,columns=column)

In [4]:
india_data

,index_no,date,ordinal_date,total_confirmed,total_active,total_recovered,total_deaths,total_tested,total_vaccinated1,total_vaccinated2,...,delta7_confirmed,delta7_active,delta7_recovered,delta7_deaths,delta7_tested,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,1,2020-01-30,737454,1,1,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,0
1,2,2020-02-02,737457,2,2,0,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
2,3,2020-02-03,737458,3,3,0,0,0,0,0,...,3,3,0,0,0,0,0,0,0,0
3,4,2020-02-14,737469,3,0,3,0,0,0,0,...,0,-3,3,0,0,0,0,0,0,0
4,5,2020-03-02,737486,5,2,3,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580,582,2021-09-29,738062,33738217,269744,33007340,448094,568956439,646473741,236996837,...,176115,-25088,199126,2013,10589426,27960741,21519788,13039,9,64
581,583,2021-09-30,738063,33765502,268540,33035544,448372,570477338,650229045,239978962,...,171989,-24862,194820,1973,10544629,27326652,21363329,13046,7,58
582,584,2021-10-01,738064,33789420,266757,33061004,448605,571994990,654331744,243149810,...,166342,-27862,192231,1915,10333607,27156870,21395524,13054,8,58
583,585,2021-10-02,738065,33812609,263763,33086942,448847,573260724,658277760,246897588,...,161362,-32730,192148,1898,10017479,27446675,21647146,13057,3,46
584,586,2021-10-03,738066,33834253,258495,33113666,449029,574252400,659815128,248117733,...,156007,-35089,189247,1804,9844149,26598842,21175008,13063,6,45

In [5]:
sql="SELECT * FROM total_state_cases WHERE state_name='MH'"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
maharashtra_data=pandas.DataFrame(result,columns=column)

In [6]:
maharashtra_data

,index_no,date,ordinal_date,state_name,total_confirmed,total_active,total_recovered,total_deaths,total_tested,total_vaccinated1,...,delta7_confirmed,delta7_active,delta7_recovered,delta7_deaths,delta7_tested,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,52,2020-03-09,737493,MH,2,2,0,0,0,0,...,2,2,0,0,0,0,0,0,0,0
1,64,2020-03-10,737494,MH,5,5,0,0,0,0,...,5,5,0,0,0,0,0,0,0,0
2,76,2020-03-11,737495,MH,11,11,0,0,0,0,...,11,11,0,0,0,0,0,0,0,0
3,89,2020-03-12,737496,MH,14,14,0,0,0,0,...,14,14,0,0,0,0,0,0,0,0
4,102,2020-03-13,737497,MH,17,17,0,0,0,0,...,17,17,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,19917,2021-09-29,738062,MH,6547793,36675,6368530,139011,58884819,57091306,...,16556,-3309,19501,347,1408677,2729841,2110890,3577,4,17
570,19953,2021-09-30,738063,MH,6550856,36484,6371728,139067,58739974,57633028,...,16299,-2707,18649,342,1093459,2820452,2153323,3577,0,15
571,19989,2021-10-01,738064,MH,6553961,36371,6374892,139117,58910564,58110270,...,16118,-2120,17880,341,1091179,3013433,2263721,3581,4,17
572,20025,2021-10-02,738065,MH,6556657,35955,6377954,139166,59074660,58553667,...,15538,-2029,17219,332,1082650,3140902,2288397,3582,1,16
573,20061,2021-10-03,738066,MH,6559349,35889,6380670,139206,59222263,58617761,...,15024,-1971,16643,336,1064263,3074610,2251363,3584,2,16

In [8]:
sql="SELECT * FROM total_district_cases WHERE district_name='Raigad'"
query.execute(sql)
result=query.fetchall()
column=[columns[0] for columns in query.description]
raigad_data=pandas.DataFrame(result,columns=column)

In [8]:
raigad_data

,index_no,date,ordinal_date,state_name,district_name,total_confirmed,total_active,total_recovered,total_deaths,delta_confirmed,...,delta7_deaths,total_vaccinated1,total_vaccinated2,delta_vaccinated1,delta_vaccinated2,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,19918,2020-04-26,737541,MH,Raigad,57,36,20,1,0,...,0,0,0,0,0,0,0,0,0,0
1,20334,2020-04-27,737542,MH,Raigad,61,39,21,1,4,...,0,0,0,0,0,0,0,0,0,0
2,20759,2020-04-28,737543,MH,Raigad,66,44,21,1,5,...,0,0,0,0,0,0,0,0,0,0
3,21189,2020-04-29,737544,MH,Raigad,69,44,23,2,3,...,1,0,0,0,0,0,0,0,0,0
4,21623,2020-04-30,737545,MH,Raigad,71,44,24,3,2,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,379646,2021-09-29,738062,MH,Raigad,192684,1070,187098,4509,157,...,6,1497575,596105,45182,16086,112372,59902,7,0,0
522,380393,2021-09-30,738063,MH,Raigad,192810,1077,187216,4510,126,...,6,1523225,605831,25650,9726,131856,64441,7,0,0
523,381140,2021-10-01,738064,MH,Raigad,192930,977,187435,4511,120,...,7,1551617,615525,28392,9694,157100,70365,7,0,0
524,381887,2021-10-02,738065,MH,Raigad,193070,836,187715,4512,140,...,6,1567578,625129,15961,9604,133527,60062,7,0,0
525,382634,2021-10-03,738066,MH,Raigad,193192,854,187819,4512,122,...,6,1571674,627932,4096,2803,132433,59829,7,0,0

## function for traintest_splitting and next 7 days ordinal_date creating

In [13]:
def splitting(data,training_ratio):
    length=len(data)
    traing_indexes=int(length*training_ratio)
    training_set=data[:traing_indexes]
    testing_set=data[traing_indexes:]
    return training_set,testing_set

In [14]:
def returnNext7days():
    date=738066
    date_range=[]
    l=[]
    for i in range(1,8):
        l.append([date+i])
        date_range.append(datetime.date.fromordinal(date+i))
    return l,date_range
predictingdate,daterange=returnNext7days()

## Train Test Splitting

In [15]:
# maindata=india_data
# maindata=maharashtra_data
maindata=raigad_data

In [16]:
try_data=numpy.concatenate((maindata['ordinal_date'].to_numpy(),predictingdate),axis=None)

In [255]:
# type_of_case='delta_confirmed'
# type_of_case='delta_recovered'
# type_of_case='delta_deaths'
type_of_case='total_active'
# name_of_case='confirmed'
# name_of_case='recovered'
# name_of_case='deaths'
name_of_case='Total Active'

maindata_labels=maindata[type_of_case]

In [256]:
maindata

,index_no,date,ordinal_date,state_name,district_name,total_confirmed,total_active,total_recovered,total_deaths,delta_confirmed,...,delta7_deaths,total_vaccinated1,total_vaccinated2,delta_vaccinated1,delta_vaccinated2,delta7_vaccinated1,delta7_vaccinated2,total_other,delta_other,delta7_other
0,19918,2020-04-26,737541,MH,Raigad,57,36,20,1,0,...,0,0,0,0,0,0,0,0,0,0
1,20334,2020-04-27,737542,MH,Raigad,61,39,21,1,4,...,0,0,0,0,0,0,0,0,0,0
2,20759,2020-04-28,737543,MH,Raigad,66,44,21,1,5,...,0,0,0,0,0,0,0,0,0,0
3,21189,2020-04-29,737544,MH,Raigad,69,44,23,2,3,...,1,0,0,0,0,0,0,0,0,0
4,21623,2020-04-30,737545,MH,Raigad,71,44,24,3,2,...,2,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,379646,2021-09-29,738062,MH,Raigad,192684,1070,187098,4509,157,...,6,1497575,596105,45182,16086,112372,59902,7,0,0
522,380393,2021-09-30,738063,MH,Raigad,192810,1077,187216,4510,126,...,6,1523225,605831,25650,9726,131856,64441,7,0,0
523,381140,2021-10-01,738064,MH,Raigad,192930,977,187435,4511,120,...,7,1551617,615525,28392,9694,157100,70365,7,0,0
524,381887,2021-10-02,738065,MH,Raigad,193070,836,187715,4512,140,...,6,1567578,625129,15961,9604,133527,60062,7,0,0
525,382634,2021-10-03,738066,MH,Raigad,193192,854,187819,4512,122,...,6,1571674,627932,4096,2803,132433,59829,7,0,0

In [257]:
train_data,test_data=splitting(maindata,0.98)

In [258]:
train_labels=train_data[type_of_case]
# train_labels=train_data['total_confirmed']

In [259]:
# india_train_labels

In [260]:
train_features=train_data[['ordinal_date']]
# train_fetures=train_data[['ordinal_date','delta_tested']]

In [261]:
train_features

     ordinal_date
0          737541
1          737542
2          737543
3          737544
4          737545
..            ...
510        738051
511        738052
512        738053
513        738054
514        738055

[515 rows x 1 columns]

In [262]:
# train_labels

In [263]:
test_labels=test_data[type_of_case]
# test_labels=test_data['total_confirmed']

In [264]:
# test_labels

In [265]:
test_features=test_data[['ordinal_date']]
# test_features=test_data[['ordinal_date','delta_tested']]

In [266]:
# test_features

In [267]:
# print(predictingdate)
# print(daterange)

## Model Implementation 
1. Linear Regression
2. Random Forest Regression
3. Decision Tree Regression
4. Extra Tree Regression

In [268]:
linear_regression_model=LinearRegression()
random_forest_model=RandomForestRegressor()
decision_tree_model=DecisionTreeRegressor()
extra_tree_model=ExtraTreeRegressor()

#### Linear regression

In [26]:
linear_regression_model.fit(train_features,train_labels)

LinearRegression()

In [27]:
linear_regression_model_train_predicted=linear_regression_model.predict(train_features)

In [28]:
# linear_regression_model_train_predicted

In [29]:
linear_regression_model_test_predicted=linear_regression_model.predict(test_features)

In [30]:
# linear_regression_model_test_predicted

In [31]:
linear_regression_model_next_7_days_predicted=linear_regression_model.predict(predictingdate)

In [32]:
# linear_regression_model_next_7_days_predicted

In [33]:
pyplot.figure('linear regression')
line_of_regression=numpy.concatenate((linear_regression_model_train_predicted,linear_regression_model_test_predicted))
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(maindata['date'],line_of_regression,label='Line of Regression')
pyplot.plot(train_data['date'],linear_regression_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],linear_regression_model_test_predicted,label='Test Data')
pyplot.plot(daterange,linear_regression_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Ramdom Forest Regression regression

In [34]:
random_forest_model.fit(train_features,train_labels)

RandomForestRegressor()

In [35]:
random_forest_model_train_predicted=random_forest_model.predict(train_features)

In [36]:
# random_forest_model_train_predicted

In [37]:
random_forest_model_test_predicted=random_forest_model.predict(test_features)

In [38]:
# random_forest_model_test_predicted

In [39]:
random_forest_model_next_7_days_predicted=random_forest_model.predict(predictingdate)

In [40]:
# random_forest_model_next_7_days_predicted

In [41]:
pyplot.figure('random forest regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],random_forest_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],random_forest_model_test_predicted,label='Test Data')
pyplot.plot(daterange,random_forest_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Decision Tree regression

In [42]:
decision_tree_model.fit(train_features,train_labels)

DecisionTreeRegressor()

In [43]:
decision_tree_model_train_predicted=decision_tree_model.predict(train_features)

In [44]:
# decision_tree_model_train_predicted

In [45]:
decision_tree_model_test_predicted=decision_tree_model.predict(test_features)

In [46]:
# decision_tree_model_test_predicted

In [47]:
decision_tree_model_next_y_days_predicted=decision_tree_model.predict(predictingdate)

In [48]:
# decision_tree_model_next_y_days_predicted

In [49]:
pyplot.figure('Decision tree regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],decision_tree_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],decision_tree_model_test_predicted,label='Test Data')
pyplot.plot(daterange,decision_tree_model_next_y_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

#### Extra Tree regression

In [50]:
extra_tree_model.fit(train_features,train_labels)

ExtraTreeRegressor()

In [51]:
extra_tree_model_train_predicted=extra_tree_model.predict(train_features)

In [52]:
# extra_tree_model_train_predicted

In [53]:
extra_tree_model_test_predicted=extra_tree_model.predict(test_features)

In [54]:
# extra_tree_model_test_predicted

In [55]:
extra_tree_model_next_7_days_predicted=extra_tree_model.predict(predictingdate)

In [56]:
# extra_tree_model_next_7_days_predicted

In [57]:
pyplot.figure('Extra tree regression')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],extra_tree_model_train_predicted,label='Train Data')
pyplot.plot(test_data['date'],extra_tree_model_test_predicted,label='Test Data')
pyplot.plot(daterange,extra_tree_model_next_7_days_predicted,label='Future Prediction')
pyplot.legend()
pyplot.show()

## Evaluation
    model
    train : mean_absolute_error     root_mean_squared_error
    test :  mean_absolute_error     root_mean_squared_error

In [58]:
print('linear regrassion')
print(mean_absolute_error(linear_regression_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(linear_regression_model_train_predicted,train_labels)))
print(mean_absolute_error(linear_regression_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(linear_regression_model_test_predicted,test_labels)))

linear regrassion
283.0350918400663 367.4276928101792
411.59635891780175 412.09389937938204

In [59]:
print('random forest regrassion')
print(mean_absolute_error(random_forest_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(random_forest_model_train_predicted,train_labels)))
print(mean_absolute_error(random_forest_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(random_forest_model_test_predicted,test_labels)))

random forest regrassion
25.419165048543686 46.45228872265408
16.733636363636364 20.096254513081423

In [60]:
print('Decision Tree regression')
print(mean_absolute_error(decision_tree_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(decision_tree_model_train_predicted,train_labels)))
print(mean_absolute_error(decision_tree_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(decision_tree_model_test_predicted,test_labels)))

Decision Tree regression
0.0 0.0
17.545454545454547 22.98813923427787

In [61]:
print('Extra Tree Regression')
print(mean_absolute_error(extra_tree_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(extra_tree_model_train_predicted,train_labels)))
print(mean_absolute_error(extra_tree_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(extra_tree_model_test_predicted,test_labels)))

Extra Tree Regression
0.0 0.0
17.545454545454547 22.98813923427787

## Polynomial Regression

In [62]:
# pyplot.scatter(train_features,train_labels)

In [63]:
def polynomial_regrassion_model(degree_of_equation=1):
    polynomial=PolynomialFeatures(degree=degree_of_equation)
    polynomial_train_data=polynomial.fit_transform(train_features.to_numpy())
    polynomial_test_data=polynomial.fit_transform(test_features.to_numpy())
    polynomial_future_test_data=polynomial.fit_transform(predictingdate)
    polynomial_regression=LinearRegression()
    polynomial_regression.fit(polynomial_train_data,train_labels)
    polynomial_regression_model_train_predicted=polynomial_regression.predict(polynomial_train_data)
    polynomial_regression_model_test_predicted=polynomial_regression.predict(polynomial_test_data)
    polynomial_regression_model_nest_7_days_predicted=polynomial_regression.predict(polynomial_future_test_data)
#     print('Train Data Prediction')
#     print(polynomial_regression_model_train_predicted)
#     print('\n\n\nTest Data Prediction')
#     print(polynomial_regression_model_test_predicted)
#     print('\n\n\nFuture Data Prediction')
#     print(polynomial_regression_model_nest_7_days_predicted)
#     print('\n\n\n')
    print('{} degree Polynomial regression'.format(degree_of_equation))
    print(mean_absolute_error(polynomial_regression_model_train_predicted,train_labels),numpy.sqrt(mean_squared_error(polynomial_regression_model_train_predicted,train_labels)))
    print(mean_absolute_error(polynomial_regression_model_test_predicted,test_labels),numpy.sqrt(mean_squared_error(polynomial_regression_model_test_predicted,test_labels)))
    pyplot.figure('{} degree Polynomial regression'.format(degree_of_equation))
    pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
    pyplot.plot(train_data['date'],polynomial_regression_model_train_predicted,label='Train Data')
    pyplot.plot(test_data['date'],polynomial_regression_model_test_predicted,label='Test Data')
    pyplot.plot(daterange,polynomial_regression_model_nest_7_days_predicted,label='Future Prediction')
    pyplot.legend()
    pyplot.show()

In [64]:
# polynomial_regrassion_model()

In [65]:
polynomial_regrassion_model(2)

2 degree Polynomial regression
276.3802224159241 361.48684801385497
254.8866225155917 255.54079606195526

In [66]:
polynomial_regrassion_model(3)

3 degree Polynomial regression
276.379019039117 361.48503288328817
254.83921189741656 255.4934679097837

In [67]:
polynomial_regrassion_model(4)

4 degree Polynomial regression
276.3778160245673 361.48321684386343
254.79218472675845 255.44652233877613

In [68]:
polynomial_regrassion_model(5)

5 degree Polynomial regression
276.3766113303819 361.48139988331945
254.745138626207 255.39955791442463

In [69]:
polynomial_regrassion_model(6)

6 degree Polynomial regression
276.37540626441967 361.4795820176879
254.6980803310871 255.35258136262445

# Forcasting Models

In [269]:
forcasting_data_features=maindata[['date',type_of_case]]

forcasting_train_data_features=train_data[['date',type_of_case]]

forcasting_test_data_features=test_data[['date',type_of_case]]

In [270]:
forcasting_data_features['date']=pandas.to_datetime(forcasting_data_features['date'])

forcasting_train_data_features['date']=pandas.to_datetime(forcasting_train_data_features['date'])

forcasting_test_data_features['date']=pandas.to_datetime(forcasting_test_data_features['date'])

<ipython-input-270-7a0089d374bb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_data_features['date']=pandas.to_datetime(forcasting_data_features['date'])
<ipython-input-270-7a0089d374bb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_train_data_features['date']=pandas.to_datetime(forcasting_train_data_features['date'])
<ipython-input-270-7a0089d374bb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_test_data_features['date']=pandas.to_datetime(forcasting_test_data_features['date'])

In [271]:
forcasting_data_features=forcasting_data_features.set_index('date')

forcasting_train_data_features=forcasting_train_data_features.set_index('date')

forcasting_test_data_features=forcasting_test_data_features.set_index('date')

In [272]:
# forcasting_data_features

In [273]:
# forcasting_train_data_features

In [274]:
# forcasting_test_data_features

## ARIMA model

In [275]:
main_arima_model = ARIMA(forcasting_data_features,order=(5,0,3))
train_arima_model = ARIMA(forcasting_train_data_features,order=(5,0,3))

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [276]:
main_arima_fit_model=main_arima_model.fit()
train_arima_fit_model=train_arima_model.fit()

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [277]:
main_arima_fit_model_predicted=main_arima_fit_model.predict()
train_arima_fit_model_predicted=train_arima_fit_model.predict()
test_arima_predicted=train_arima_fit_model.forecast(steps=len(forcasting_test_data_features))

In [278]:
arima_model_forcast=main_arima_fit_model.forecast(steps=7)

In [279]:
# main_arima_fit_model_predicted
# train_arima_fit_model_predicted
# test_arima_predicted
arima_model_forcast

2021-10-04     878.345062
2021-10-05     899.033777
2021-10-06     929.104547
2021-10-07     960.397664
2021-10-08     996.129196
2021-10-09    1035.665138
2021-10-10    1077.042376
Freq: D, Name: predicted_mean, dtype: float64

In [280]:
pyplot.figure('ARIMA model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],train_arima_fit_model_predicted,label='Train Data')
pyplot.plot(test_data['date'],test_arima_predicted,label='Test Data')
pyplot.plot(daterange,arima_model_forcast,label='ARIMA Future Prediction')
pyplot.legend()
pyplot.show()

In [281]:
print(mean_absolute_error(train_arima_fit_model_predicted,train_labels),numpy.sqrt(mean_squared_error(train_arima_fit_model_predicted,train_labels)))
print(mean_absolute_error(test_arima_predicted,test_labels),numpy.sqrt(mean_squared_error(test_arima_predicted,test_labels)))

187.97520084959203 330.6529900635204
328.23459356700005 409.7804803869859

In [282]:
try_arima_labels=numpy.concatenate((maindata_labels,arima_model_forcast))

In [283]:
try_arima_labels[-7:]

array([ 878.34506233,  899.03377707,  929.10454693,  960.39766379,
        996.12919606, 1035.66513754, 1077.04237564])

In [284]:
random_forest_model.fit(pandas.DataFrame(try_data),try_arima_labels)

RandomForestRegressor()

In [285]:
final_arima_model_forcast=random_forest_model.predict(pandas.DataFrame(try_data))[-7:]

In [286]:
final_arima_model_forcast

array([ 874.91874189,  894.47730333,  926.55777392,  956.42196822,
        988.25968053, 1025.78611406, 1055.67847745])

## SARIMA model

In [287]:
main_sarima_model=SARIMAX(forcasting_data_features)
train_sarima_model = ARIMA(forcasting_train_data_features,order=(5,0,3))

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [288]:
main_sarima_fit_model=main_sarima_model.fit()
train_sarima_fit_model=train_sarima_model.fit()

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\statespace\sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\base\model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [289]:
# sarima_model_fit.predict(590)
main_sarima_fit_model_predicted=main_sarima_fit_model.predict()
train_sarima_fit_model_predicted=train_sarima_fit_model.predict()
test_sarima_predicted=train_sarima_fit_model.forecast(steps=len(forcasting_test_data_features))

In [290]:
sarima_model_forcast=main_sarima_fit_model.forecast(steps=7)

In [291]:
# main_sarima_fit_model_predicted
# train_sarima_fit_model_predicted
# test_sarima_predicted
sarima_model_forcast

2021-10-04    851.328606
2021-10-05    848.665569
2021-10-06    846.010862
2021-10-07    843.364459
2021-10-08    840.726334
2021-10-09    838.096461
2021-10-10    835.474815
Freq: D, Name: predicted_mean, dtype: float64

In [292]:
pyplot.figure('SARIMA model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(train_data['date'],train_sarima_fit_model_predicted,label='Train Data')
pyplot.plot(test_data['date'],test_sarima_predicted,label='Test Data')
pyplot.plot(daterange,sarima_model_forcast,label='SARIMA Future Prediction')
pyplot.legend()
pyplot.show()

In [293]:
print(mean_absolute_error(train_sarima_fit_model_predicted,train_labels),numpy.sqrt(mean_squared_error(train_sarima_fit_model_predicted,train_labels)))
print(mean_absolute_error(test_sarima_predicted,test_labels),numpy.sqrt(mean_squared_error(test_sarima_predicted,test_labels)))

187.97520084959203 330.6529900635204
328.23459356700005 409.7804803869859

In [294]:
try_sarima_labels=numpy.concatenate((maindata_labels,sarima_model_forcast))

In [295]:
try_sarima_labels[-7:]

array([851.3286062 , 848.66556877, 846.01086158, 843.36445857,
       840.72633376, 838.09646126, 835.47481525])

In [296]:
random_forest_model.fit(pandas.DataFrame(try_data),try_sarima_labels)

RandomForestRegressor()

In [297]:
final_sarima_model_forcast=random_forest_model.predict(pandas.DataFrame(try_data))[-7:]

In [298]:
final_sarima_model_forcast

array([852.70050995, 849.14633087, 846.25127972, 844.05376612,
       841.04414684, 838.8603611 , 837.31284957])

## Final Model Forecast

In [299]:
final_arima_model_forcast

array([ 874.91874189,  894.47730333,  926.55777392,  956.42196822,
        988.25968053, 1025.78611406, 1055.67847745])

In [300]:
final_sarima_model_forcast

array([852.70050995, 849.14633087, 846.25127972, 844.05376612,
       841.04414684, 838.8603611 , 837.31284957])

In [301]:
final_data_forcast=(final_arima_model_forcast+final_sarima_model_forcast)/2

In [302]:
final_data_forcast

array([863.80962592, 871.8118171 , 886.40452682, 900.23786717,
       914.65191369, 932.32323758, 946.49566351])

In [303]:
final_forecast_labels=numpy.concatenate((maindata_labels,final_data_forcast))

In [304]:
final_forecast_labels[-7:]

array([863.80962592, 871.8118171 , 886.40452682, 900.23786717,
       914.65191369, 932.32323758, 946.49566351])

In [305]:
random_forest_model.fit(pandas.DataFrame(try_data),final_forecast_labels)

RandomForestRegressor()

In [306]:
final_model_forcast=random_forest_model.predict(pandas.DataFrame(try_data))[-7:]

In [307]:
final_model_forcast

array([860.21585748, 871.80911407, 884.27262727, 896.56849379,
       912.05872188, 927.08990991, 938.84595007])

In [308]:
pyplot.figure('Final model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(daterange,final_model_forcast,label='final Future {} Prediction'.format(name_of_case))
pyplot.plot(daterange,sarima_model_forcast,label='SARIMA Future Prediction')
pyplot.plot(daterange,arima_model_forcast,label='ARIMA Future Prediction')
pyplot.legend()



pyplot.show()

## VAR Model

In [100]:
forcasting_data_features_for_VAR=maindata[['date','delta_confirmed','delta_vaccinated1','delta_vaccinated2']]
forcasting_train_data_features_for_VAR=train_data[['date','delta_confirmed','delta_vaccinated1','delta_vaccinated2']]

In [101]:
forcasting_data_features_for_VAR
# forcasting_train_data_features_for_VAR

           date  delta_confirmed  delta_vaccinated1  delta_vaccinated2
0    2020-04-26                0                  0                  0
1    2020-04-27                4                  0                  0
2    2020-04-28                5                  0                  0
3    2020-04-29                3                  0                  0
4    2020-04-30                2                  0                  0
..          ...              ...                ...                ...
521  2021-09-29              157              45182              16086
522  2021-09-30              126              25650               9726
523  2021-10-01              120              28392               9694
524  2021-10-02              140              15961               9604
525  2021-10-03              122               4096               2803

[526 rows x 4 columns]

In [102]:
forcasting_data_features_for_VAR['date']=pandas.to_datetime(forcasting_data_features_for_VAR['date'])
forcasting_train_data_features_for_VAR['date']=pandas.to_datetime(forcasting_train_data_features_for_VAR['date'])

<ipython-input-102-1b0de2c1aaa6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_data_features_for_VAR['date']=pandas.to_datetime(forcasting_data_features_for_VAR['date'])
<ipython-input-102-1b0de2c1aaa6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  forcasting_train_data_features_for_VAR['date']=pandas.to_datetime(forcasting_train_data_features_for_VAR['date'])

In [103]:
# forcasting_data_features_for_VAR
forcasting_train_data_features_for_VAR

          date  delta_confirmed  delta_vaccinated1  delta_vaccinated2
0   2020-04-26                0                  0                  0
1   2020-04-27                4                  0                  0
2   2020-04-28                5                  0                  0
3   2020-04-29                3                  0                  0
4   2020-04-30                2                  0                  0
..         ...              ...                ...                ...
510 2021-09-18              145              21601               8403
511 2021-09-19              156               6999               5738
512 2021-09-20              111              13568               6078
513 2021-09-21              138              32266              13366
514 2021-09-22              150              14632               7563

[515 rows x 4 columns]

In [104]:
forcasting_data_features_for_VAR=forcasting_data_features_for_VAR.set_index('date')
forcasting_train_data_features_for_VAR=forcasting_train_data_features_for_VAR.set_index('date')

In [105]:
# forcasting_data_features_for_VAR
forcasting_train_data_features_for_VAR

            delta_confirmed  delta_vaccinated1  delta_vaccinated2
date
2020-04-26                0                  0                  0
2020-04-27                4                  0                  0
2020-04-28                5                  0                  0
2020-04-29                3                  0                  0
2020-04-30                2                  0                  0
...                     ...                ...                ...
2021-09-18              145              21601               8403
2021-09-19              156               6999               5738
2021-09-20              111              13568               6078
2021-09-21              138              32266              13366
2021-09-22              150              14632               7563

[515 rows x 3 columns]

In [106]:
main_var_model=VAR(forcasting_data_features_for_VAR)
main_var_train_model=VAR(forcasting_train_data_features_for_VAR)

C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'
C:\Users\Pankaj singh\AppData\Roaming\Python\Python39\site-packages\statsmodels\tsa\base\tsa_model.py:524: ValueWarning: No frequency information was provided, so inferred frequency D will be used.
  warnings.warn('No frequency information was'

In [107]:
main_var_model_fit=main_var_model.fit()
main_var_train_model_fit=main_var_train_model.fit()

In [108]:
# main_var_train_model_fit.plot()

In [109]:
var_model_forcast=main_var_model_fit.forecast(main_var_model.y,steps=7)

<ipython-input-109-2bd438d2e6bb>:1: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  var_model_forcast=main_var_model_fit.forecast(main_var_model.y,steps=7)

In [110]:
var_model_forcast_data=pandas.DataFrame(var_model_forcast)

In [111]:
var_model_forcast_data

            0            1            2
0  136.823286  3893.409058  2142.133839
1  153.840091  3550.610839  1744.256164
2  170.726987  3269.201191  1509.831733
3  186.679600  3079.440216  1373.740039
4  201.475710  2964.286750  1295.590532
5  215.107033  2900.210043  1251.112583
6  227.637314  2868.277332  1226.013062

In [112]:
pyplot.figure('VAR model Forcasting')
pyplot.plot(maindata['date'],maindata_labels,label='Original Data')
pyplot.plot(maindata['date'],maindata['delta_vaccinated1'],label='Original Data')
pyplot.plot(daterange,var_model_forcast_data[0],label='VAR Future Confirmed Prediction')
pyplot.plot(daterange,var_model_forcast_data[1],label='VAR Future Vaccinated1 Prediction')

pyplot.legend()
pyplot.show()